html, body{
  background-color: #181818 !important;
  color:  white;
}

img {
  width: 66px;
  border-radius: 50%;
}

.spinner-border {
  color: #156ef9;
}

.btn-primary {
  background-color: #1e2e39 !important;
  border-color: #253e4f !important;
}